@charset "utf-8";

$defualt : 20px;
$pageWidth : 360px;

@mixin flex($a, $b, $c, $d) {
    display:flex;
    justify-content: $a;
    align-items: $b;
    flex-wrap: $c;
    flex-direction: $d;
}

// _common.scss
html,body{ 
    margin: 0;
}

figure{
    margin: 0;
}

ul,li{
    list-style-type: none;
    margin: 0; padding: 0;
    z-index: 1;
}
h1{
    font-family: 'Maven Pro', sans-serif;
}

img{vertical-align: top;}

*{box-sizing: border-box;}
a{color:#000; text-decoration: none;}