@import "common";
@import url("slide.css");

@media (max-width:768px ){
    /*header*/
    header{
        position: fixed;
        justify-content: space-between;
        width: 100%; height: 65px;
        top: 0;  left: 0;
        z-index: 1;

        display: flex;
        align-items: center;
        .wrapper{
            display:block;
            width:25px;
            margin: 10px;
                span{
                    display: block;
                    border-bottom:2px solid #fff;
                    margin:8px 0;
            }
        }
        .logo{
            background: url(./img/logo_w.png) center no-repeat;
            background-size: 70%;
            width: 150px; height: 65px;   
            margin-left: 20px;
        }
        .icon{
            display: flex;
            background: url(./img/store_i3_w.png) left no-repeat;
            background-size: 40%;
            background-position: 0% 45%;
            .store{
                width: 50px;
                display: flex;
                margin: 10px; 
                p{
                    color: #fff;
                    font-size: 12px;
                    transform:translateX(8px) translateY(8px) ;
                }
            }
        }
    }
    header.active{
        position: fixed;
        justify-content: space-between;
        width: 100%; height: 65px;
        top: 0;  left: 0;
        z-index: 1;

        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px 5px rgba(74, 74, 74, 0.1);
        .wrapper{
            display:block;
            width:25px;
            margin-left: 10px;
                span{
                    display: block;
                    border-bottom:2px solid #444444;
                    margin:8px 0;
            }
        }
        .logo{
            background: url(./img/logo.png) center no-repeat;
            background-size: 70%;
            width: 150px; height: 65px;   
        }
        .icon{
            display: flex;
            background: url(./img/store_i3.png) left no-repeat;
            background-size: 40%;
            background-position: 0% 45%;
            .store{
                width: 50px;
                display: flex;
                margin: 10px; 
                p{
                    color: #444444;
                    font-size: 12px;
                    transform:translateX(8px) translateY(8px) ;
                }
            }
        }
    }
    .burger{
        position: absolute;
        top:0;
        z-index: 1;
        width: 100%; height: 100vh;
        background-color: #fff;
        display: none;
        transition: 3s;
        animation: reverse;
        .burger-header{
            justify-content: space-between;
            width: 100%; height: 65px;
            top: 0;  left: 0;
            display: flex;
            align-items: center;
            padding: 0 15px;
            .x{
                display:block;
                width:25px;
                span:nth-of-type(1){
                    display: block;
                    border-bottom:2px solid #5A5657;
                    margin-top: 11px;
                    transform: rotate(45deg);
                }
                span:nth-of-type(2){
                    display: block;
                    border-bottom:2px solid #5A5657;
                    transform: rotate(-45deg);
                    margin-top: -2px;
                }
            }
            .logo{
                background: url(./img/logo.png) center no-repeat;
                background-size: 70%;
                width: 150px; height: 65px;   
                margin-left: 20px;
            }
            .b-store{
                display: flex;
                background: url(./img/store_i3.png) left no-repeat;
                background-size: 40%;
                background-position: 30% 45%;
                .bb-store{
                    width: 50px;
                    display: flex;
                    justify-content: flex-end;
                    // margin: 10px; 
                    p{
                        color: #5A5657;
                        font-size: 12px;
                        transform:translateX(8px) translateY(8px) ;
                    }
                }
            }
        }
        .burger-main{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.5em 0;
            text-align: center;
            ul{
                li{
                    h3{
                        color: #5a5657;
                        }
                    .active3{
                        color: #E9463F;
                    }
                    div{
                        font-size: 13px;
                        display: none;
                        margin: 8px;
                        p{
                            margin: 5px;
                            color: #5a5657;
                        }
                    }
                }
            }
        }
        .burger-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 30px;
            .language{
                display: flex;
                p{
                    font-size: 12px;
                    padding: 30px 5px 0 5px;
                    margin: 0;
                }
                p:nth-of-type(1){
                    color: #e9463f;
                }
            }
            .inquiry{
                display: flex;
                font-size: 12px;
                padding: 10px;
                p{
                    margin: 0;
                    padding: 3px 7px;
                    color: #5A5657;;
                }
            }
            .cs{
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #5A5657;;
                p{
                    font-size: 12px;
                    padding: 5px 10px;
                    margin: 0;
                    span{
                        font-weight: bold;
                    }
                }
            }
        }
        .burger-footer::before{
            content: '';
            display: block; width: 100%; 
            border-bottom: 1px solid #E1E1E1;
        }
    }

    /*main*/
    main{
        width: 100%; height: 100%;
        overflow:hidden;
        position:relative;
        left: 0; top:0;
            .main-1{
                position: relative;
                margin: 0 auto;
                overflow: hidden;
                .slide{
                    figure{
                        img{
                            width: 100%;
                        }
                    }
                }
                .text{
                    position:absolute; 
                    left:7%; bottom:15%;
                    transform: translateY(100%);
                    opacity: 0;
                    color: #fff;             
                    animation: p 1s forwards;   
                    @keyframes p{
                        0%{transform: translateY(100%);}
                        100%{transform: translateY(0%);
                        opacity: 1;}
                    }
                    h2{
                        font-size: 30px;
                        line-height: 33px;
                    }
                    h2::after{
                        content: '';
                        display: block; width: 250px; 
                        border-bottom: 1px solid #fff;
                        margin: 30px 0;
                    }
                    .go{
                        display: flex;
                        align-items: flex-start;
                    }
                        span{
                            font-size: 14px;
                            line-height: 25px;
                            opacity: 70%;
                        }
                        a{
                            margin-left: 20px;
                            padding: 10px;
                            border-radius: 50px;
                            background-color: #C00000;
                            color: #fff;
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }
            }
            .main-2{
                position: relative;
                margin: 0 auto;
                overflow: hidden;
                height:100vh;
                .main{
                    figure{
                        img{
                            width:100%; height:100vh;
                        }
                    }
                    h1{
                        position:absolute; top:5%; left:3%;
                        transform: translate(0%,100%);
                        color: #5A5657;
                        font-size: 25px;
                    }
                    .photo{
                        &.active{
                            transform: translateY(0%); 
                        }
                        position: absolute; left: 0;  bottom: 0%;
                        width:100%;
                        transform: translateY(100%);
                        transition: 1s;
                        span{
                            position: absolute;
                            width: 120px; height: 45px;
                            background-color: #E9463F;
                            color: #fff;        
                            left: 35%;  top:-45px;
                            padding: 0 15px;
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                        }
                        img{
                            width: 20px;
                            opacity: 0.9;
                            position: absolute;
                            left: 58%;  top:-33px;
                        }
                        .about-slide{
                            width: 100%; height: 480px;
                            -webkit-backdrop-filter: blur(8px);
                            backdrop-filter: blur(8px);
                            background: rgba(255, 255, 255, 0.5);
                            transition: 1s ease;
                            .wapper{
                                display: block;
                                text-align: center;
                                padding: 0; margin: 0;
                                ul{
                                    padding-top: 50px;
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    align-items: center;
                                    li{
                                        width: 230px; height: 50px; 
                                        background-color: #fff; margin: 3px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-around;
                                        color: #E9463F;
                                        font-weight: 900;
                                        font-size: 16px;
                                        }
                                    }
                                .more{
                                    margin-top: 60px;
                                    transform: rotate(90deg);
                                    font-size: 18px;
                                    font-weight: 900;
                                    color: #5C595A;
                                    }
                                    .txt{
                                        margin: 50px 0 0;
                                        line-height: 25px;
                                        text-align: center;
                                        letter-spacing: 0.2em;
                                        font-size: 13px;

                                        color: #888D8A;
                                    }
                                }
                            }
                        }
                    }
            }
            .main-3{
                width: 100%; height: 800px;
                position: relative;
                margin: 0 auto;
                padding: 3.5em 0 6em;
                background-color: #F6F6F6;
                .title{
                    padding-left: 15px;
                    h1{
                        color: #5A5657;
                        font-size: 25px;
                    }
                    p{
                        line-height: 25px;
                        letter-spacing: 0.2em;
                        font-size: 13px;

                        color: #888D8A;
                    }
                }
                .slide-product{
                    width: 100%; height: 50%;
                    margin: 50px auto;
                    figure{
                        width: 100%;
                        padding:0 50px;
                        >div{
                            background-color: #7F1086;
                            position: relative;                            
                        }
                        .figure-img{
                            width: 80%; height: 250px;
                            z-index: -1;
                            img{
                                width: 80%; 
                                position: absolute; 
                                transform: translate(-25%,-15%);
                                
                            }
                            p{
                                position: absolute;
                                left: 55px;bottom:60%;
                                transform: translate(50%,70%);
                                font-size: 20px;
                                width: 40px; height: 40px;
                                border-radius: 50px;
                                text-align: center; padding-top: 4px;
                                background: #FFFFFF;
                                color: #888D8A;
                            }
                        }
                        h3{
                            position: absolute;
                            left: 130px;bottom:45%;
                            transform: translate(50%,0%);
                            transform: rotate(90deg);
                            font-size: 53px;
                            letter-spacing: 25px;
                            line-height: 50px;
                            font-weight: 100;
                            color:  #D6A2D9;
                        }
                        .slide-txt{
                        text-align:right;
                        padding: 20px;
                        }
                        h4{
                            color: #fff;
                            font-size: 14px;
                            letter-spacing: 5px;
                        }
                        span{
                            color: #fff;
                            opacity: 0.4;
                            font-size: 14px;
                        }
                    }
                    figure:nth-of-type(3){
                        >div{
                            background-color: #E9463F;
                        }
                        h3{
                            color:  #FEB4B1;
                        }
                    }
                    figure:nth-of-type(4){
                        >div{
                            background-color: #0B3774;
                        }
                        h3{
                            color:  #6593D2;
                        }
                    }
                    figure:nth-of-type(5){
                        >div{
                            background-color: #E9463F;
                        }
                        h3{
                            color:  #FEB4B1;
                        }
                    }
                    figure:nth-of-type(6){
                        >div{
                            background-color: #7F1086;
                        }
                        .figure-img{
                            img{
                                width: 70%; 
                                position: absolute; 
                                transform: translate(-25%,-15%);
                            }
                        }
                        h3{
                            color:  #D6A2D9;
                        }
                    }
                    figure:nth-of-type(7){
                        >div{
                            background-color: #0B3774;
                        }
                        h3{
                            color:  #6593D2;
                        }
                    }
                    .seven{
                        >div{
                            background-color: #E9463F;
                        }
                        h3{
                            font-size: 43px;
                            letter-spacing: 20px;
                            position: absolute;
                            left: 90px;bottom:45%;
                            color:  #FEB4B1;
                        }
                    }
                }

            }
            .main-4{
                width: 100%; height: 134vh;
                position: relative;
                margin: 0 auto;
                padding: 3.5em 0 0;
                .title{
                    padding: 0 15px;
                    .title-one{
                        display: flex;
                        justify-content: space-between;
                        h1{
                            color: #5A5657;
                            font-size: 25px;
                            margin: 0;
                        }
                        a{
                            width: 65px; height: 65px;
                            font-size: 16px; font-weight: 600;
                            color: #fff; display: flex;
                            align-items: center; justify-content: center;
                            background-color: #E9463F;
                        }
                    }
                    p{
                        color: #C4C3C3;
                        font-size: 13px;
                    }
                    p::before{
                        content: '';
                        display: block; 
                        width: 70px; 
                        border-bottom: 1px solid #000;
                        margin: 10px 0;
                    }
                }
                ul{
                    padding: 0 15px;
                    li{
                        color: #0B3774;
                        line-height: 50px;
                        margin-bottom: 50px;
                        p{
                            font-size: 20px;
                            font-weight: 600; 
                            margin: 0;
                        }
                        h3{
                            font-size: 80px;
                            margin: 0;
                            font-weight: 200; 
                        }
                    }
                    li:nth-of-type(2){
                        color: #CBA17F;
            
                    }
                    li:nth-of-type(3){
                        color: #88218E;
                    }
                    li:nth-of-type(4){
                        color: #E94841;
                    }
                }
                .main4-silde{
                    figure{
                        margin-top: -3em;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .main-5{
                    background: url(./img/main_visual_bg.jpg) no-repeat center;
                    background-size: cover;
                    padding:20px 15px 15px 15px;
                    display: none;
                    .title{
                        padding: 15px 15px;
                        h1{
                            color: #fff;
                            font-size: 25px;
                        }
                    }
                    .scroll-txt{
                        width: 100%; height: 100vh;
                        overflow-y: auto;
                        overflow-x: hidden;
                        div{
                            color: rgba(255,255,255,0.2);
                            iframe{
                                border: 30px solid #E6C4A8;
                            }
                            &::before{
                                content: '';
                                display: block; 
                                width: 100%; 
                                border-bottom: 1px solid rgba(255,255,255,0.2);
                                margin: 30px 0;
                            }
                            h4{
                                font-size: 13px;
                                font-weight: 100;
                                margin: 20px 0 10px 0;
                            }
                            h3{
                                font-size: 15px;
                                color: rgba(255,255,255,0.5);
                                margin: 0;
                            }
                            h2{
                                font-size: 30px;
                                font-weight: 100;
                                color: rgba(255,255,255,0.3);
                                margin: 0 0 25px;
                            }
                            p{
                                font-size: 13px;
                                font-weight: 100;
                                color: rgba(255,255,255,0.3);
                            }
                        }
                    }
            }
            .main-6{
                background: url(./img/main_beautiful_bg.jpg) no-repeat center;
                background-size: cover;
                padding:20px 15px 15px 15px;
                h2{
                    text-align: center;
                    color: #fff;
                    padding: 20px 0;
                }
                .content{
                    width:100%; 
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding-bottom: 70px;
                        figure{
                            width: 171.5px; height:171.5px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            background-image: url(./img/menu_hover_bg.png);
                            background-repeat: no-repeat;
                            background-position: 110% 110%;
                            background-size: 40%;

                            background-color: rgba(255, 255, 255, 0.3);
                            margin:0.5px;
                            color: #fff; 
                            h3{
                                text-align: center; 
                                font-weight: 600; font-size: 20px;
                                margin: 0;
                            }
                            p{
                                margin: 10px 0; font-size: 13px;
                            }
                            span{
                                margin-top: 10px;
                                width: 30px; height: 30px;
                                background-image: url(./img/plus_i2.png);
                            }
                            
                    }
                }
            }
    }
    //end
    
    /*footer*/
    footer{
        background-color: #131313;
        color: #FEFEFE;
        font-size: 10px;
        padding: 30px 15px;
        overflow: hidden;
        .btn{
            a{
                // display:scroll;
                position:absolute;
                right: 20px; 
                transform: translateY(-80px);
                transition: 2s;

                width: 50px; height: 50px;
                background-color: rgba(85, 85, 85, 0.8);
                background-image: url("./img/bx_chevron-up.png");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .footer-txt{
            .top{
                h3{
                    margin: 0;
                }
                .cs{
                    display: flex;
                    p{
                        margin: 0;
                        padding: 20px 20px 20px 0;
                    }
                }
                .box{
                    display: flex;
                    .box-txt{
                        margin-right: 50px;
                        p:nth-of-type(1){
                            margin: 0;
                        }
                        h3{
                            font-size: 20px;
                        }p:nth-of-type(2){
                            opacity: 0.3;
                            font-size: 6px;
                            line-height: 15px;
                            letter-spacing: 0.8px;
                        }
                    }
                }
                ul{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    li{
                        width: 25px; margin: 20px 5px 20px 0;
                        img{
                            width: 100%; height: 100%;
                        }
                    }
                }
            }
        }
        .area-on{
            .on{
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 1px solid #262626;
                border-bottom: 1px solid #262626;
                padding: 6px;
            }

            p{
                color: #999;
            }
            span{
                img{
                    margin: 6px;
                    width: 6px;
                }
            }
            .area{
                .info{
                    color: #999;
                    line-height: 18px;
                    padding: 0 10px;
                }
                .address{
                    line-height: 18px;
                    padding: 0 10px;
                    border-top: 1px solid #262626;
                    border-bottom: 1px solid #262626;
                    letter-spacing: -0.3px;
                }
                &.active2{
                    transform:translateY(200%);
                }
            }
        }
    }



    /*******스크롤바******/
    .scroll-txt::-webkit-scrollbar{ //스크롤바 전체 
        background-color: rgba(255, 255, 255, 0.3);
        width:7px;
    }
    .scroll-txt::-webkit-scrollbar-thumb { //드래그 할 수 있는 스크롤 손잡이
        background-color: rgba(255, 255, 255, 0.5);
    }
}